//- libs
script(src="/js/algoliasearch.min.js")
script(src="/js/template-web.min.js")

//- main
script(src="/js/main.js")

//- Medium zoom plugin
- var zoom = theme.zoom
if zoom
    script(src='https://unpkg.com/medium-zoom@0/dist/medium-zoom.min.js')
    script.
        mediumZoom('article img', {margin: 24});
        (function(win, targetElem) {
            if (!targetElem) return;
            win.onscroll = (function() {
                if (isElementInViewport(targetElem)) {
                    win.onscroll = null;
                    return mediumZoom('.gitment-comment-main img', {margin: 24});
                }
                return arguments.callee;
            })();
            function isElementInViewport(el) {
                var rect = el.getBoundingClientRect();
                var winH = win.innerHeight || document.documentElement.clientHeight;
                return rect.top <= winH && rect.bottom >= winH;
            };
        })(this, document.querySelector('#gc_container'));

//- darkMode plugin
- var darkMode = theme.darkMode
if darkMode
    script(src='https://cdn.jsdelivr.net/npm/darkmode-js@1.4.0/lib/darkmode-js.min.js')
    script.
        new Darkmode({
            bottom: '30px',
            right: '60px',
            left: 'unset',
            time: '0.5s',
            mixColor: '#fff',
            backgroundColor: '#fff',
            buttonColorDark: '#100f2c',
            buttonColorLight: '#fff',
            saveInCookies: true,
            label: '🌓',
            autoMatchOsTheme: true
        }).showWidget();

//- LaTex
//- script(async src="//cdn.bootcss.com/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML" integrity="sha384-crwIf/BuaWM9rM65iM+dWFldgQ1Un8jWZMuh3puxb8TOY9+linwLoI7ZHZT+aekW" crossorigin="anonymous")

//- Analytics tracking
- var ga = theme.ga
if ga
    script
        | (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;e=o.createElement(i);r=o.getElementsByTagName(i)[0];e.src='//www.google-analytics.com/analytics.js';r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));ga('create',
        != '"' + ga + '"'
        | ,'auto');ga('send','pageview');
