footer {
    padding-bottom: 1px;
    .copyright {
        margin: 4em 0;
        border-top: 1px solid #ddd;
        text-align: center;
        padding-top: 10px;
        p, a {
            color: #aaa;
            font-size: 14px;
            font-weight: 100;
            margin: 0;
            span {
              font-size: 1.35em;
              position: relative;
              top: 0.1em;
              padding-left: .2em;
              padding-right: .2em;
            }
        }
        a:hover {
            color: #888;
        }
    }
}
